In [1]:
#identifying missing value

In [2]:
import pandas as pd
import numpy as np

In [3]:
cars_data=pd.read_csv(r"C:\computer science\nptel\Toyota.csv",index_col=0,na_values=["??","????"])

In [4]:
cars_data2=cars_data.copy()
cars_data3=cars_data2.copy()

In [6]:
#identify missing valued
#to check null values is isnull() and isna() are used
#returns dataframe of boolean values which are true for nan values

In [7]:
#to check the count of missing values

In [8]:
cars_data2.isnull().sum()

Price          0
Age          100
KM            15
FuelType     100
HP             6
MetColor     150
Automatic      0
CC             0
Doors          0
Weight         0
dtype: int64

In [9]:
#subsetting the rows that have one or missing values

In [10]:
missing=cars_data2[cars_data2.isnull().any(axis=1)]

In [12]:
missing.shape

(340, 10)

In [14]:
missing

,Price,Age,KM,FuelType,HP,MetColor,Automatic,CC,Doors,Weight
2,13950,24.0,41711.0,Diesel,90.0,NaN,0,2000,3,1165
6,16900,27.0,NaN,Diesel,NaN,NaN,0,2000,3,1245
7,18600,30.0,75889.0,NaN,90.0,1.0,0,2000,3,1245
9,12950,23.0,71138.0,Diesel,NaN,NaN,0,1900,3,1105
15,22000,28.0,18739.0,Petrol,NaN,0.0,0,1800,3,1185
...,...,...,...,...,...,...,...,...,...,...
1428,8450,72.0,NaN,Petrol,86.0,NaN,0,1300,3,1015
1431,7500,NaN,20544.0,Petrol,86.0,1.0,0,1300,3,1025
1432,10845,72.0,NaN,Petrol,86.0,0.0,0,1300,3,1015
1433,8500,NaN,17016.0,Petrol,86.0,0.0,0,1300,3,1015
1434,7250,70.0,NaN,NaN,86.0,1.0,0,1300,3,1015

In [15]:
#two ways of approach

In [16]:
# 1-fill the missing values by mean/median in case of numerical variable

In [17]:
#2-fill the missing value with the class which has maximum count(mode) in case of categorical variable

In [18]:
cars_data2.describe()

,Price,Age,KM,HP,MetColor,Automatic,CC,Weight
count,1436.000000,1336.000000,1421.000000,1430.000000,1286.000000,1436.000000,1436.000000,1436.00000
mean,10730.824513,55.672156,68647.239972,101.478322,0.674961,0.055710,1566.827994,1072.45961
std,3626.964585,18.589804,37333.023589,14.768255,0.468572,0.229441,187.182436,52.64112
min,4350.000000,1.000000,1.000000,69.000000,0.000000,0.000000,1300.000000,1000.00000
25%,8450.000000,43.000000,43210.000000,90.000000,0.000000,0.000000,1400.000000,1040.00000
50%,9900.000000,60.000000,63634.000000,110.000000,1.000000,0.000000,1600.000000,1070.00000
75%,11950.000000,70.000000,87000.000000,110.000000,1.000000,0.000000,1600.000000,1085.00000
max,32500.000000,80.000000,243000.000000,192.000000,1.000000,1.000000,2000.000000,1615.00000

In [19]:
# if there is not much diff b/w mean and median(50%) then prefer mean otherwise median
cars_data2['Age'].mean()

55.67215568862275

In [20]:
#to fill na values using the specific value

In [21]:
cars_data2['Age'].fillna(cars_data2['Age'].mean(),inplace=True)

In [22]:
#input missing value of km variable

In [23]:
cars_data2['KM'].median()

63634.0

In [24]:
cars_data2['KM'].fillna(cars_data2['KM'].median(),inplace=True)

In [25]:
#input missing value of hp

In [26]:
cars_data2['HP'].mean()

101.47832167832168

In [27]:
cars_data2['HP'].fillna(cars_data2['HP'].median(),inplace=True)

In [30]:
cars_data2.isnull().sum()

Price          0
Age            0
KM             0
FuelType     100
HP             0
MetColor     150
Automatic      0
CC             0
Doors          0
Weight         0
dtype: int64

In [31]:
#imputing missing values of fueltype-categorical variable

In [32]:
cars_data2['FuelType'].value_counts()

Petrol    1177
Diesel     144
CNG         15
Name: FuelType, dtype: int64

In [33]:
cars_data2['FuelType'].value_counts().index[0]

'Petrol'

In [34]:
cars_data2['FuelType'].fillna(cars_data2['FuelType'].value_counts().index[0],inplace=True)

In [35]:
cars_data2['MetColor'].mode()

0    1.0
Name: MetColor, dtype: float64

In [40]:
cars_data2['MetColor'].fillna(cars_data2['MetColor'].mode()[0],inplace=True)

In [41]:
cars_data2.isnull().sum()

Price        0
Age          0
KM           0
FuelType     0
HP           0
MetColor     0
Automatic    0
CC           0
Doors        0
Weight       0
dtype: int64

In [42]:
#to fill na value both in numerical and categorical variable in one stretch

In [44]:
cars_data3=cars_data2.copy()
cars_data3=cars_data3.apply(lambda x:x.fillna(x.mean()) if x.dtype=='float' else x.fillna(x.value_counts(),index[0]))

NameError: name 'index' is not defined